{% extends "layout.html" %}

{% block head %}

<link href="about.css" rel="stylesheet">

{% block title %}

<title>About AcademixBuddies</title>

{% endblock %}

{% block main %}

<img src="AcademixBuddies_about_picture1.jpg" id="backgroundpicture">
<h1>About</h1>
<p>
    AcademixBuddies is a platform for students in Singapore to search for study buddies. We hope to provide a support network for students not only academically but also emotionally. AcademixBuddies aims to match students of similar educational background
    so there is a mutual support system. We also hope to alleviate the stress that students go through by reminding them that they are not alone on this journey.
</p>

{% endblock %}
