{% extends "layout.html" %}

{% block main %}

<form action="/change-password" method="post">
    <input class="form-control mx-auto w-auto" name="original_password" placeholder=" Old Password" type="password">
    <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password">
    <input class="form-control mx-auto w-auto" name="confirm_password" placeholder=" Confirm Password" type="password">
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>

{% endblock %}
